<div class="e_todo_viewer_pin"></div>
<div class="b_todo_viewer_body">
  <div class="e_todo_viewer_body">
    <todo-task-item *ngFor="let tsk of cellData.tasks" [task]="tsk"
                    [isPreview]="false" (taskUpdated)="handleTaskUpdated()"></todo-task-item>
    <p class="e_empty-list-info" *ngIf="!cellData.tasks.length">no events added yet</p>
  </div>
  <form #addForm class="e_todo_creator" (ngSubmit)="onSubmit(message.value)">
    <label>
      <textarea #message name="message" autofocus class="e_task_input"
                (keyup)="onKeyUp($event, message.value, addForm)"
                (keydown)="autoGrow(message)"
                placeholder="{{messagePlaceholder}}"
      ></textarea>
    </label>
  </form>
</div>
