
.e_todo_viewer_pin {
  display: inline-block;
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #D8D8D8;
  left: -4px;
  top: 6px;
  transform: rotate(45deg);
}

.b_todo_viewer_body {
  line-height: 1rem;
  font-size: 1rem;

  position: relative;
  padding: 0.5rem;
  background: #F3F3F3;
  border: 1px solid #D8D8D8;
  border-radius: 0.5rem;
  z-index: 2;
  width: 13.3vw;
  min-width: 13.3vw;
  max-width: 13.3vw;

  min-height: 15.0rem;
  max-height: 15.0rem;
  overflow-y: auto;
  overflow-x: hidden;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-content: stretch;
}

.e_task_input {
  width: calc(100% - 0.5rem);
  margin: 0;

  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 2rem;
  max-height: 6.25rem;

  border-radius: 0.25rem;
}

.e_todo_viewer_body {
  overflow-x: hidden;
  overflow-y: auto;
  /*max-height: 6.25rem;*/

}

.e_todo_creator {
  padding: 0.5rem;
  margin: 0 -0.5rem -0.5rem;
  position: relative;
}

.e_empty-list-info {
  color: #acacac;
}
