<section class="todo-grid-title">
  <div class="e_nav">
    <button (click)="showPrev()" class="e_prev-month-btn">prev</button>
    <a class="todo-grid-name">{{grid.title}}</a>
    <button (click)="showNext()" class="e_next-month-btn">next</button>
  </div>

</section>
<section class="todo-grid-header">
  <div class="todo-grid-col-name" *ngFor="let name of days;">
    {{name}}
  </div>
</section>
<section class="todo-grid" [ngClass]="b_css">
  <div class="todo-item-set" *ngFor="let week of grid.rows; let rowCount = index;">
    <calendar-cell class="todo-item" [row]="rowCount" *ngFor="let day of week.items; let indx = index;" [cellData]="day"
                   [col]="indx"></calendar-cell>
  </div>
</section>
