.b_calendar {
  color: cornflowerblue;
}

.todo-grid, .todo-item-set {
  flex: 1 100%;
}

.todo-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100% - 2.0rem);
}

.todo-item-set {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-height: 7.5rem;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;

}

.todo-item + .todo-item:before {
  content: " ";
  display: inline-flex;
  width: 1px;
  border-left: 1px solid #E5E5E5;
  box-sizing: border-box;
  height: 100%;
  float: left;
}

.todo-item {
  display: block;

  background: white;
  border: none;
  padding: 0;
  margin: 0;

  width: 14.2857%;
  min-width: 9.5rem;
  height: 7.5rem;

  vertical-align: middle;
  text-align: center;
}

.todo-grid-title .e_nav .e_prev-month-btn {
  order: 1;
}

.todo-grid-title .e_nav .todo-grid-name {
  flex: 12 0;
  order: 2;
  text-align: center;
  font: 2.0rem/3.0rem Sans-serif, Arial bolder;
}

.todo-grid-title .e_nav .e_next-month-btn {
  order: 3;
}

.todo-grid-title .e_nav .e_next-month-btn,
.todo-grid-title .e_nav .e_prev-month-btn {
  flex: 1 auto;

  background: #EFF0F4;
  border: 1px solid #BEBFC1;
  display: inline-block;
  width: 2.0rem;
  height: 2.0rem;
  margin: 0.5rem;
  border-radius: 2.0rem;

  color: #7C7D80;
}

.todo-grid-title .e_nav {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  height: 3.0rem;
}

.todo-grid-header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;

  background: #D3D6DD;
  border-bottom: 1px solid #BEC3CF;

  box-shadow: 0 0.2rem 0.3rem #acacac inset;
}

.todo-grid-col-name + .todo-grid-col-name {
  border-left: 1px solid #BEC3CF;
}

.todo-grid-col-name {
  display: block;
  box-sizing: border-box;
  width: 14.2857%;
  min-width: 8.6rem;
  border: none;
  padding: 0;
  margin: 0;

  font: 1.2rem/2.0rem Sans-serif, Arial bolder;
  color: #8991A2;
  text-transform: uppercase;

  vertical-align: middle;
  text-align: center;
}
