.b_todo-item {
  position: relative;
  display: flex;
  background: #F7F7F7;
  height: 100%;
}

.b_todo-item.m_current {
  background: #ffffff;
}

.e_cell {
  color: #333;
}

.todo_calendar_date {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  color: #333;
  padding: 0.2rem;
  font: 1.2rem/1.2rem Sans-serif, Arial, bold;
}

.e_calender_cell_btn {
  flex: 1 100%;

  background: transparent;
  padding: 0;
  margin: 0;
  border: none;

  overflow: hidden;
}

.b_task-list {
  margin-top: 1.2rem;
  padding: 0 0.5rem;
  text-align: left;
}

.e_task-item.m_done {
  background: #42cea4;
}

.e_task-item.m_preview {
  white-space: nowrap;
  margin-right: 1.5rem;
}

.e_task-item:not(.m_preview) {
  padding-right: 1rem;
}

.e_task-item {
  position: relative;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;

  padding: 0.125rem;
  margin-bottom: 0.125rem;
  background: #7591CE;
  border: none;
  border-radius: 4px;
  color: #ffffff;

  text-align: left;
}

.e_task-item_more {
  display: inline-block;
  content: " ";

  width: auto;
  font-size: 0.8rem;
  min-width: 0.6rem;
  padding: 0.1rem;

  color: #ffffff;
  background: rgba(117, 145, 206, 0.5);
  border: none;
}

.e_task-item.m_task-hidden {
  display: none;
}

.e_check-btn.m_done {
  box-shadow: 0.1rem 0.1rem 0 0.1rem #ffffff inset,
  -0.1rem -0.1rem 0 0.1rem #ffffff inset,
  0.1rem -0.1rem 0 0.1rem #ffffff inset,
  -0.1rem 0.1rem 0 0.1rem #ffffff inset,
  0.25rem 0.25rem 0 0.25rem #7591CE inset,
  -0.25rem -0.25rem 0 0.25rem #7591CE inset;
}

.e_check-btn {
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #ffffff;
  box-sizing: border-box;
  border: 0.125rem solid #e0e0e0;
  border-radius: 1rem;
  padding: 0;
  margin: 0 0.25rem;
  vertical-align: top;
}

.e_del-btn {
  padding: 0 0.125rem;
  color: #333333;
  border-radius: 0.25rem;
  border: 1px solid #333333;
  background: #ffc1c1;
  position: absolute;
  z-index: 2;
  right: 1px;
  top: 1px;
}
