<div class="task-item">
  <a class="e_task-item m_preview" *ngIf="isPreview" [class.m_done]="task.wasCompleted()">
    {{task.text | singleLinePreview}}
  </a>
  <a class="e_task-item" *ngIf="!isPreview" [class.m_done]="task.wasCompleted()">
    <button class="e_check-btn" (click)="completeTask($event)" *ngIf="!task.wasCompleted()"></button>
    <button class="e_check-btn m_done" (click)="renewTask($event)" *ngIf="task.wasCompleted()"></button>
    <button class="e_del-btn" (click)="deleteTask($event)">&times;</button>
    {{task.text}}

  </a>

</div>
