/* You can add global styles to this file, and also import other style files */
html{
  font-size: 16px;
  font-size: 1.5vm;
  font-size: 1.5vmin;

  overflow: hidden;
}

cell-popover{
  font-size: 0;
  line-height: 0;
}

.pop-over-content.shown{
  z-index: 3;
}

.m_pin_right .e_todo_viewer_pin{
  right: -4px;
  left: auto !important;
}

.m_pin_bottom .e_todo_viewer_pin{
  bottom: 6px;
  top: auto !important;
}
