<div class="b_todo-item" [class.m_current]="cellData.isCurrentMonth" [class.m_today]="cellData.isToday">
  <button class="e_calender_cell_btn" (click)='popToggle(todoPO,$event);' #todoBtn>

    <span class="todo_calendar_date">{{cellData.dateCode.getDateString()}}</span>
    <div class="b_task-list">
      <todo-task-item *ngFor="let tsk of cellData.tasksVisible" [task]="tsk"
                      (taskUpdated)="handleTaskUpdated()"></todo-task-item>
      <a class="e_task-item_more" *ngIf="cellData.tasks.length>3">{{moreText}}</a>
    </div>
  </button>
  <pop-over #todoPO [my]="popPosition" [at]="anchorPosition" [anchor-to]="todoBtn" [x-offset]="6" [y-offset]="0">
    <cell-popover [class.m_pin_right]="isPinRight" [class.m_pin_bottom]="isPinBottom"
                  [cellData]="cellData"></cell-popover>
  </pop-over>
</div>
