.b_todo-item {
  position: relative;
  display: flex;
  background: #F7F7F7;
  height: 100%;
}

.b_todo-item.m_current {
  background: #ffffff;
}

.b_todo-item.m_today {
  background: #ffa622;
}

.todo_calendar_date {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  color: #333;
  padding: 0.2rem;
  font: 1.2rem/1.2rem Sans-serif, Arial, bold;
}

.e_calender_cell_btn {
  flex: 1 100%;

  background: transparent;
  padding: 0;
  margin: 0;
  border: none;

  overflow: hidden;
}

.b_task-list {
  margin-top: 1.2rem;
  padding: 0 0.5rem;
  text-align: left;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.e_task-item_more {
  display: inline-block;
  content: " ";

  width: auto;
  font-size: 0.8rem;
  min-width: 0.6rem;
  padding: 0.1rem;

  color: #ffffff;
  background: rgba(117, 145, 206, 0.5);
  border: none;
}
